@font-face{
	font-family: "Montserrat";
	src:url("../fonts/static/Montserrat-Regular.ttf")
}

@font-face{
	font-family: "Montserrat-Black";
	src:url("../fonts/static/Montserrat-Black.ttf")
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,body{
	padding: 0; 
	margin: 0; 
	font-family: "Montserrat";
    font-family: sans-serif;
    line-height: 1.15;
	margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: left;
}
header{
	text-align: center;
	padding-top: 0px;	
	background-size: cover;
	background-position: center bottom;
}

.wrap{
	display: flex;
	flex-direction: row;/*выстраивает в стpочку*/ 
	justify-content: space-between;/*ростягивает по всей ширине*/
	align-items: center;/*вырвнивание по вертикали*/
	width: 1000px;
	margin: 0 auto;
}

.text{
	color:black;
	margin-top: 30px;
	padding-top: 50px;
}

.btn-blue{
    margin: 0 auto;
	border:3px solid #FF6861;
	color: #fff;
    font-size: 15pt;
    width: 300;
    height: 50;
    border-radius: 100px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    background-color: #FF6861; 
    vertical-align: middle;
	margin-top: 50px;
	margin-right: 300px;
}
.btn-blue:hover{
	cursor: pointer;/*меняет знак курсора*/
	background-color: #ff5148;/*фон кнопки*/
	border:3px solid #ff5148;
}

.text-farm{
	font-family: "Montserrat-Black";
	font-style: normal;
	font-size: 50px;
	color: #000;
	font-weight: 400;
	margin-left: 100px;
	margin-top: 70px;
	margin-right: 100px;
}

.text-play{
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: black;
	margin-top: 0px;

}

.a1{
	display: flex;
	align-items: center;
	text-align: left;
	padding-right: 160px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 60px;
}

.img-group{
	width: 35%;
	margin-top: 100px;
}

.item-skaz{
	padding-top: 0px;
}

.title-skaz{	
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 800px;
	gap: 70px;
	width: 720px;
	height: 442px;
}

.text-game{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 140%;
	margin-bottom: 40px;
}

.text-30px{
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
}

.text-18px{
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
}

.a2{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 41px;

	width: 720px;
	height: 316px;
}

.opisanie{
	display: flex;
	flex-direction: column;
	gap: 41px;
}

.action-block{
	display: flex;
	gap: 11px;
}

.action-text{
	display: flex;
	flex-direction: column;
	gap: 11px;
}


.a3{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1110px;
	background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
	border-radius: 60px;
	margin-top: 120px;
	padding-left: 125px;
	padding-bottom: 75px;
	align-items: center;
	padding-right: 125px;

}

.hug{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	width: 475px;
	padding-top: 75px;
	
}

.text-more{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 140%;
}

.text-miss{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 136.7%;
}

.btn-red{
    display: block;
	border:3px solid #FF6861;
	color: #fff;
    font-size: 18pt;
    width: 300px;
    border-radius: 100px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    background-color: #FF6861; 
    vertical-align: middle;
	padding: 22px 70px;
}
.btn-red:hover{
	cursor: pointer;/*меняет знак курсора*/
	background-color: #ff5148;/*фон кнопки*/
	border:3px solid #ff5148;
}

footer{
	margin: 120px auto;
	text-align: center;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
}





@media(max-width: 1200px){
	header{padding: 10px 30px;}
	header .wrap{flex-wrap: wrap; width: 340px; margin: 0 auto;}
	.text-cappa{font-size: 160px;}
	.text-tur{font-size: 35px;}
	.title-skaz{		
		padding-left: 260px;
		top: 250px;
		bottom: 0px;
		padding-top: 100px;
		padding-bottom: 50px;		
	}	
	.text-fairy{
		font-size: 60px;
		line-height: 128px;
		font-weight: 400;
		margin-left: 100px;
	}	
	.text-skaz{
		font-weight: 300;
		font-size: 15px;
		line-height: 28px;
		margin-top: -50px;
		margin-left: 115px;	
	}	
	.img-skaz{
		width: 700px;
		margin-right: 20px;
	}	
	.a1{
		padding-right: 160px;
		font-weight: 300;
		font-size: 16px;
		margin-bottom: 60px;
	}
}
@media screen and (max-width: 998px){
	.wrap{
		display: flex;
		flex-direction: row;/*выстраивает в стpочку*/ 
		justify-content: space-between;/*ростягивает по всей ширине*/
		align-items: center;/*вырвнивание по вертикали*/
		width: 1000px;
		margin: 0 auto;
	}
	
	.text{
		color:black;
		margin-top: 30px;
		padding-top: 50px;
	}
	
	.btn-blue{
		margin: 0 auto;
		border:3px solid #FF6861;
		color: black;
		font-size: 15pt;
		width: 300;
		height: 50;
		border-radius: 100px;
		text-align: center;
		line-height: 50px;
		text-decoration: none;
		background-color: #FF6861; 
		vertical-align: middle;
		margin-top: 50px;
		margin-right: 300px;
	}
	.btn-blue:hover{
		cursor: pointer;/*меняет знак курсора*/
		background-color: #ff5148;/*фон кнопки*/
		border:3px solid #ff5148;
	}
	
	.text-farm{
		font-family: "Montserrat-Black";
		font-style: normal;
		font-size: 50px;
		color: #000;
		font-weight: 400;
		margin-left: 100px;
		margin-top: 70px;
		margin-right: 100px;
	}
	
	.text-play{
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 28px;
		color: black;
		margin-top: 0px;
	
	}
	
	.a1{
		flex-direction: column-reverse;
	}
	.a3{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		padding: 101px 37px;
		gap: 101px;

		position: absolute;
		width: 720px;
		height: 920px;
		left: 135px;
		top: 1661px;

		background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
		border-radius: 60px;
	}
}
@media screen and (max-width: 768px){	
}
@media screen and (max-width: 576px){
}